// fonts/colours
$font-colour:#333;
$font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size:14px;
$line-height:20px;
$background-colour:#fff;


// padding/margin/sizes
$default-vertical-spacing:12px;
$default-padding:12px;


// settings for responsive grid layout
$grid-columns: 12;
$row-names: row, deck;
$column-names: column, plank;
$column-numbers: one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve;