$font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size:14px;
$line-height:20px;
$background-colour:#fff;


// settings for responsive grid layout
$grid-columns: 12;
$row-names: row, deck;
$column-names: column, plank;
$column-numbers: one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve;