/**
 * Copyright GreenImp Web - greenimp.co.uk
 * This page cannot be used without permission
 * 
 * Author: GreenImp Web
 * Date Created: 10/01/13 22:36
 */

/**
 * Not quite sure - something to do with determining
 * the correct width on the device, in IE
 */
@-ms-viewport{
	width:device-width;
}



/* ==========================================================================
 * Device specific display of content
 * This allows us to show/hide certain elements depending on the device
 * ========================================================================== */
.visible-phone{
  display:none !important;
}

.visible-tablet{
  display:none !important;
}

.hidden-desktop{
  display:none !important;
}

.visible-desktop{
  display:inherit !important;
}

@media (min-width: 768px) and (max-width: 979px){
  .hidden-desktop{
    display:inherit !important;
  }
  .visible-desktop{
    display:none !important ;
  }
  .visible-tablet{
    display:inherit !important;
  }
  .hidden-tablet{
    display:none !important;
  }
}

@media (max-width: 767px){
  .hidden-desktop{
    display:inherit !important;
  }
  .visible-desktop{
    display:none !important;
  }
  .visible-phone{
    display:inherit !important;
  }
  .hidden-phone{
    display:none !important;
  }
}



/* ==========================================================================
 * Grid layout
 * ========================================================================== */

/**
 * The main site container
 */
.container,
.ship{
	padding:0 20px;
}

/**
 * A row
 */
.row,
.deck{
	margin:0 auto;
	width:100%;
	min-width:755px;
	max-width:100%;
}

.row:after,
.deck:after{
	content:" ";
	display:table;
	clear:both;
}

/**
 * A row within a row
 */
.row .row,
.deck .deck{
	width:auto;
	min-width:0;
}

/**
 * Columns
 */
.row .column,
.deck .plank,
.deck .column,
.row .plank{
	float:left;
	margin:0;
	min-height:1px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

/**
 * setting individual column widths
 */
.row .column.one,
.deck .plank.one,
.deck .column.one,
.row .plank.one{
	width:8.333333333%;
}

.row .column.two,
.deck .plank.two,
.deck .column.two,
.row .plank.two{
	width:16.666666667%;
}

.row .column.three,
.deck .plank.three,
.deck .column.three,
.row .plank.three{
	width:25%;
}

.row .column.four,
.deck .plank.four,
.deck .column.four,
.row .plank.four{
	width:33.333333333%;
}

.row .column.five,
.deck .plank.five,
.deck .column.five,
.row .plank.five{
	width:41.666666665%;
}

.row .column.six,
.deck .plank.six,
.deck .column.six,
.row .plank.six{
	width:50%;
}

.row .column.seven,
.deck .plank.seven,
.deck .column.seven,
.row .plank.seven{
	width:58.333333331%;
}

.row .column.eight,
.deck .plank.eight,
.deck .column.eight,
.row .plank.eight{
	width:66.666666664%;
}

.row .column.nine,
.deck .plank.nine,
.deck .column.nine,
.row .plank.nine{
	width:74.999999997%;
}

.row .column.ten,
.deck .plank.ten,
.deck .column.ten,
.row .plank.ten{
	width:83.33333333%;
}

.row .column.eleven,
.deck .plank.eleven,
.deck .column.eleven,
.row .plank.eleven{
	width:91.666666663%;
}

.row .column.twelve,
.deck .plank.twelve,
.deck .column.twelve,
.row .plank.twelve{
	width:100%;
}

/**
 * Column offsets
 */
.row .column.offset-one,
.deck .plank.offset-one,
.deck .column.offset-one,
.row .plank.offset-one{
	margin-left:8.333333333%;
}

.row .column.offset-two,
.deck .plank.offset-two,
.deck .column.offset-two,
.row .plank.offset-two{
	margin-left:16.666666667%;
}

.row .column.offset-three,
.deck .plank.offset-three,
.deck .column.offset-three,
.row .plank.offset-three{
	margin-left:25%;
}

.row .column.offset-four,
.deck .plank.offset-four,
.deck .column.offset-four,
.row .plank.offset-four{
	margin-left:33.333333333%;
}

.row .column.offset-five,
.deck .plank.offset-five,
.deck .column.offset-five,
.row .plank.offset-five{
	margin-left:41.666666665%;
}

.row .column.offset-six,
.deck .plank.offset-six,
.deck .column.offset-six,
.row .plank.offset-six{
	margin-left:50%;
}

.row .column.offset-seven,
.deck .plank.offset-seven,
.deck .column.offset-seven,
.row .plank.offset-seven{
	margin-left:58.333333331%;
}

.row .column.offset-eight,
.deck .plank.offset-eight,
.deck .column.offset-eight,
.row .plank.offset-eight{
	margin-left:66.666666664%;
}

.row .column.offset-nine,
.deck .plank.offset-nine,
.deck .column.offset-nine,
.row .plank.offset-nine{
	margin-left:74.999999997%;
}

.row .column.offset-ten,
.deck .plank.offset-ten,
.deck .column.offset-ten,
.row .plank.offset-ten{
	margin-left:83.33333333%;
}

.row .column.offset-eleven,
.deck .plank.offset-eleven,
.deck .column.offset-eleven,
.row .plank.offset-eleven{
	margin-left:91.666666663%;
}


/**
 * Allow centering of a column
 */
.row .column.center,
.deck .plank.center,
.deck .column.center,
.row .plank.center{
	float:none;
	margin:0 auto;
}


/**
 * Stop images, objects etc overflowing the content
 */
.row img, .row object, .row embed,
.deck img, .deck object, .deck embed{
	max-width:100%;
}

.row img,
.deck img{
	height:auto;
}


/**
 * Media queries for handling smaller screen sizes
 */
@media only screen and (max-width: 1023px){
	body{
		font-size:0.8em;
		line-height:1.5em;
	}
}

@media handheld, only screen and (max-width: 767px) {
	body{
		font-size:16px;
		-webkit-text-size-adjust:none;
		-ms-text-size-adjust:none;
	}

	body, .container, .ship, .row, .deck{
		width:100%;
		min-width:0;
		margin-left:0;
		margin-right:0;
		padding-left:0;
		padding-right:0;
	}

	.row .column,
	.deck .plank,
	.deck .column,
	.row .plank{
		width:auto !important;
		float:none !important;
		margin-left:0 !important;
		margin-right:0 !important;
		padding-left:20px;
		padding-right:20px;
	}
}


/* ==========================================================================
 * Retina display media queries
 * ========================================================================== */
/* 1.25 dpr */
@media	only screen and (-webkit-min-device-pixel-ratio: 1.25),
		only screen and (-moz-min-device-pixel-ratio: 1.25),
		only screen and (min-device-pixel-ratio: 1.25),
		only screen and (min-resolution: 120dpi){
    /* Retina-specific stuff here */
}

/* 1.3 dpr */
@media	only screen and (-webkit-min-device-pixel-ratio: 1.3),
	only screen and (-moz-min-device-pixel-ratio: 1.3),
	only screen and (min-device-pixel-ratio: 1.3),
		only screen and (min-resolution: 124.8dpi){
    /* Retina-specific stuff here */
}

/* 1.5 dpr */
@media	only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-moz-min-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 144dpi){
    /* Retina-specific stuff here */
}

/* 2 dpr */
@media	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (-moz-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2),
		only screen and (min-resolution: 192dpi) {
	/* Retina-specific stuff here */
}