/* ==========================================================================
 * Font Formatting
 * ========================================================================== */

code, samp,
kbd, var{
	padding:0 4px;
	line-height:1.2em;
}

code, var{
	color:#333;
	background:#E0F1F9;
}

samp{
	color:#fff;
	background:#000;
}

pre{
	padding:4px 6px;
	font-size:12px;
	line-height:20px;
	background:darken($background-colour, 5%);

	code, samp{
		display:block;
		margin:-8px -6px;
		padding:0 6px;
		font-size:inherit;
		line-height:inherit;
		word-wrap:normal;
		white-space:pre;
		overflow:auto;
	}

	code{
		border:1px solid #ccc;
		background:#fff; /* Old browsers */
		background:-moz-repeating-linear-gradient(top,  #ffffff 0, #ffffff 20px, #f5f5f5 20px, #f5f5f5 40px); /* FF3.6+ */
		background:-webkit-repeating-linear-gradient(top,  #ffffff 0,#ffffff 20px,#f5f5f5 20px,#f5f5f5 40px); /* Chrome10+,Safari5.1+ */
		background:-o-repeating-linear-gradient(top,  #ffffff 0,#ffffff 20px,#f5f5f5 20px,#f5f5f5 40px); /* Opera 11.10+ */
		background:-ms-repeating-linear-gradient(top,  #ffffff 0,#ffffff 20px,#f5f5f5 20px,#f5f5f5 40px); /* IE10+ */
		background:repeating-linear-gradient(to bottom,  #ffffff 0,#ffffff 20px,#f5f5f5 20px,#f5f5f5 40px); /* W3C */
	}

	samp{
		background:-moz-repeating-linear-gradient(top,  #000 0, #000 20px, #2B2B2B 20px, #2B2B2B 40px); /* FF3.6+ */
		background:-webkit-repeating-linear-gradient(top,  #000 0,#000 20px,#2B2B2B 20px,#2B2B2B 40px); /* Chrome10+,Safari5.1+ */
		background:-o-repeating-linear-gradient(top,  #000 0,#000 20px,#2B2B2B 20px,#2B2B2B 40px); /* Opera 11.10+ */
		background:-ms-repeating-linear-gradient(top,  #000 0,#000 20px,#2B2B2B 20px,#2B2B2B 40px); /* IE10+ */
		background:repeating-linear-gradient(to bottom,  #000 0,#000 20px,#2B2B2B 20px,#2B2B2B 40px); /* W3C */
	}
}

kbd{
	display:inline-block;
	margin:0 0.1em;
	padding:0.1em 0.6em;
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
	text-shadow:0 1px 0 #fff;
	line-height:1.4;
	background-color:#f7f7f7;
	border:1px solid #ccc;
	border-radius:3px;
	box-shadow:0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
	cursor:default;

	&:hover{
		background-color:#f0f0f0;
		box-shadow:0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #f6f6f6 inset
	}
}



/* ==========================================================================
 * Forms
 * ========================================================================== */

/**
 * Valid fields
 */
.valid input,
.valid textarea,
.valid select,
input.valid,
textarea.valid,
select.valid{
	background-color:#E7F9E3;
	border-color:#4ABF4C;

	&:focus, &:hover{
		background-color:#E7F9E3;
		border-color:#4ABF4C;
	}
}

.valid label,
label.valid{
	color:#4ABF4C;
}


/**
 * Fields containing errors
 */
.error input,
.error textarea,
.error select,
input.error,
textarea.error,
select.error{
	background-color:#FCE5E5;
	border-color:#DD1115;

	&:focus, &:hover{
		background-color:#FCE5E5;
		border-color:#DD1115;
	}

	&:focus:invalid{
		background-color:#FCE5E5;
		border-color:#DD1115;
	}
}

.error label,
label.error{
	color:#DD1115;
}

/**
 * Adds an asterisk on labels for required fields
 */
label.required:after{
	content:'*';
	position:relative;
	left:0.25em;
	margin-right:0.25em;
}

/**
 * allows labels to be right-aligned
 */
label.right{
	text-align:right;
}



/* ==========================================================================
 * Lists
 * ========================================================================== */

dl.inline{
	dt, dd{
		display:inline-block;
		vertical-align:top;
		margin-bottom:0;
		width:50%;
	}

	dt{
		padding-right:10px;
	}
}



/* ==========================================================================
 * Tables
 * ========================================================================== */

/**
 * 1. Border collapse needs to be separate (not collapse),
 * otherwise we can't have border radius.
 * 2. Adds some spacing between the cells
 */
table{
	width:100%;
	border-collapse:separate; /* 1 */
	border-spacing:2px; /* 2 */
	border:1px solid darken($background-colour, 20%);
	border-radius:3px;

	caption{
		margin:8px 0;
		font-size:1.2em;
	}

	th, td{
		padding:4px 8px;
	}

	> thead > tr > th,
	> tfoot > tr > th{
		font-size:1.1em;
		background:darken($background-colour, 10%);
	}

	> tbody > tr{
		> th{
			text-align:left;
			background:darken($background-colour, 8%);
		}

		// Zebra striping
		&:nth-child(even) td{
			background:darken($background-colour, 4%);
		}
	}
}



/* ==========================================================================
 * Quotes
 * ========================================================================== */

blockquote{
	position:relative;
	padding:8px 10px;
	font-size:1.1em;
	font-family:Georgia, Times, "Times New Roman", serif;
	background:darken($background-colour, 3.5%);

	/**
	 * Add quotation marks around the quote
	 */
	&:before,
	&:after{
		position:absolute;
		font-size:3em;
		line-height:0;
	}

	&:before{
		content:'\201C';
		top:0.5em;
		right:99%;
	}

	&:after{
		content:'\201D';
		left:99%;
		top:auto;
		bottom:0;
	}


	/**
	 * Changes background of inner quotes, so more visible
	 */
	q{
		background:darken($background-colour, 1%);
	}

	/**
	 * Removes margin from p tags, so as not to add too much spacing
	 */
	p{
		margin:0;
	}


	cite{
		display:block;
		margin:5px 0 0 5px;
		font-size:0.9em;

		&:before{
			content:'\2014 \2009';
		}
	}
}

q{background:darken($background-colour, 3.5%);}



/* ==========================================================================
 * Misc
 * ========================================================================== */

figure{
	margin-bottom:$default-vertical-spacing;

	img{
		margin-left:auto;
		margin-right:auto;
	}

	figcaption{
		margin-top:6px;
		color:lighten($font-colour, 10%);
		font-size:0.95em;
		font-style:italic;
		text-align:center;
	}
}



/* ==========================================================================
 * Notice boxes
 * ========================================================================== */

.notice{
	$notice-background:darken($background-colour, 10%);

	position:relative;
	display:block;
	margin-bottom:$default-vertical-spacing;
	padding:6px;
	color:darken($notice-background, 60%);
	font-weight:bold;
	text-shadow:0 1px lighten($notice-background, 15%);
	background:$notice-background;
	border:1px solid darken($notice-background, 15%);
	border-radius:4px;

	&.error{
		color:#fff;
		@include box-mixin(#CC0A0D);
	}

	&.success{
		color:#fff;
		@include box-mixin(#62AD17);
	}

	&.info{
		color:#fff;
		@include box-mixin(#4A8ECE);
	}

	// a fixed position notice
	&.fixed{
		position:fixed;
		top:0;
		left:0;
		z-index:999;
		width:100%;
		border-top:none;
		border-left:none;
		border-right:none;
		border-radius:0;
	}

	&.closable{
		padding-right:2.5em;

		> .closeBtn{
			position:absolute;
			top:50%;
			right:0.5em;
			margin-top:-1em;
			padding:0.5em;
			line-height:1em;
			outline:none;
		}
	}

	h1, h2, h3,
	h4, h5, h6{
		margin:0;
	}

	p{
		margin:5px 0;
	}

	a{
		color:darken($notice-background, 80%);
	}

	&.error a,
	&.success a,
	&.info a{
		color:#fff;
		color:rgba(255, 255, 255, 0.8);
	}

	input[type=submit],
	input[type=reset],
	input[type=button],
	button,
	.button,
	a.button{
		margin:5px 0;
		color:#444;

		&.confirm{
			color:#f2f2f2;
		}

		&.cancel{
			color:#fff;
		}

		&[disabled]{
			color:#888;
		}
	}
}