/* ==========================================================================
 * Breadcrumbs
 * ========================================================================== */

/* remove list styles on breadcrumb UL elements */
ul.breadcrumbs{
	list-style:none;
}

span.breadcrumbs{
	display:inline-block;
	vertical-align:top;
}

.breadcrumbs{
	margin:0 0 $default-vertical-spacing;
	padding:0 10px;
	color:darken($font-colour, 10%);
	font-size:0.85em;
	line-height:2.5em;
	background:darken($background-colour, 5%);
	border:1px solid darken($background-colour, 15%);
	border-radius:2px;
	overflow:hidden;

	/* the inner items */
	> li, > span,
	> div, > a{
		float:left;
		margin:0;
		padding:0 8px 0 0;

		/* add the separator */
		&:before{
			content:'\2044';
			padding-right:8px;
			color:darken($background-colour, 35%);
			text-decoration:none;
		}

		&:first-child:before{
			content:'';
			display:none;
		}


		&.current, &.current a{
			color:inherit;
		}

		&.disabled, &.disabled a{
			color:darken($background-colour, 35%);
			text-decoration:none;
			cursor:auto;
		}
	}

	&.arrow,
	&.chevron{
		> li, > span,
		> div, > a{
			&:before{
				content:'\003E';
			}
		}
	}
}