/*!
 * Modal Dialogue
 */

#modalWrapper{
	position:fixed;
	top:50%;
	left:50%;
	z-index:10000;
	display:block;
	visibility:hidden;
	backface-visibility:hidden;
	height:auto;
	width:50%;
	min-width:200px;
	-moz-transform:translateX(-50%) translateY(-50%);
	-webkit-transform:translateX(-50%) translateY(-50%);
	-o-transform:translateX(-50%) translateY(-50%);
	-ms-transform:translateX(-50%) translateY(-50%);
	transform:translateX(-50%) translateY(-50%);

	&.image,
	&.iframe,
	&.swf,
	&.video{
		width:auto;
		min-width:0;
		max-width:100%;
	}

	&.visible{
		visibility:visible;
	}


	> .inner{
		background:#ccc;
	}


	/**
	 * Controls (prev/next buttons)
	 */
	> .controls{
		> .page{
			position:absolute;
			top:50%;
			margin-top:-1.429em;
			color:#fff;
			background:#aaa;
			border-radius:50%;

			&.prev{
				left:0;
			}

			&.next{
				right:0;
			}
		}
	}
}

#modalOverlay{
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:10000;
	display:block;
	visibility:hidden;
	background:#000;
	background:rgba(0,0,0,0.6);

	&.visible{
		visibility:visible;
	}
}