/*!
 * Navigation
 */

.nav{
	display:block;
	background:darken($background-colour, 50%);

	/**
	 * Clear the inner floated elements
	 */
	&:after,
	ul{
		content:" ";
		display:table;
		clear:both;
	}

	/**
	 * Remove default list styling
	 */
	ul{
		list-style:none;
		margin:0;
		padding:0;

		> li{
			margin:0;
		}
	}

	/**
	 * Define root list styles
	 */
	> ul{
		float:left;
		background:darken($background-colour, 50%);

		/**
		 * Right-aligned nav elements
		 */
		&.right{
			float:right;
		}

		> li{
			float:left;
			padding:8px;

			/**
			 * Sub menu
			 */
			ul{
				position:absolute;
				top:-9999em;
				left:-9999em;
				width:0;
				height:0;
				background:darken($background-colour, 45%);

				li{
					padding:2px 8px;
					min-width:100%;
					white-space:nowrap;
				}
			}

			/**
			 * Show sub-menu, on hover of it's parent
			 */
			&:hover{
				position:relative;

				> ul{
					top:100%;
					left:0;
					width:auto;
					min-width:100%;
					height:auto;
				}
			}
		}
	}
}