/* ==========================================================================
 * Accordion
 * ========================================================================== */

.tabs{

}

/**
 * Remove list styles on tab lists
 */
ul.accordion,
ol.accordion{
	list-style:none;
	padding:0;

	> li{
		margin:0;
	}
}