/* ==========================================================================
 * Base
 * ========================================================================== */

body{
	color:$font-colour;
	font:normal #{$font-size}/#{$line-height} $font-family;
	background-color:$background-colour;
}



/* ==========================================================================
 * Forms
 * ========================================================================== */

fieldset{
	margin:18px 0;
	padding:$default-padding;
	border:1px solid #ddd;
	border-radius:3px;

	legend{
		margin-left:-4px;
		padding:0 4px;
		font-weight:bold;
	}
}

label{
	display:block;
	margin-bottom:5px;
	font-size:1.1em;
	font-weight:500;
}


/**
 * General form fields
 */
input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=datetime],
input[type=number],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
textarea,
select{
	display:block;
	margin-bottom:$default-vertical-spacing;
	padding:6px;
	width:100%;
	color:#3c3c3c;
	background:#fff;
	border:1px solid #cccccc;
	border-radius:2px;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) inset;

	-webkit-transition:all 0.15s linear;
	-moz-transition:all 0.15s linear;
	-o-transition:all 0.15s linear;
	-ms-transition:all 0.15s linear;
	transition:all 0.15s linear;

	&:focus{
		background:#fafafa;
		border-color:#b3b3b3;
	}

	&:hover{
		background:#fafafa;
	}

	&[disabled]{
		color:#888;
		text-shadow:0 1px rgba(255, 255, 255, 0.75);
		background-color:#ddd;
		cursor:auto;
	}

	&[readonly]{
		color:#707070;
	}
}

[placeholder]{
	&::-webkit-input-placeholder{
		color:#a9a9a9;
	}

	&:-moz-placeholder{
		color:#a9a9a9;
	}

	&:-ms-input-placeholder{
		color:#a9a9a9;
	}
}

/**
 * Form buttons
 */
input[type=submit],
input[type=reset],
input[type=button],
button,
.button{
	display:inline-block;
	vertical-align:top;
	margin-bottom:$default-vertical-spacing;
	padding:7px 10px;
	color:#444;
	font-size:0.85em;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0 1px rgba(255, 255, 255, .75);
	line-height:normal;
	background:#eee;
	background-image:-moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6+ */
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(0,0,0,0.2))); /* Chrome,Safari4+ */
	background-image:-webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10+,Safari5.1+ */
	background-image:-o-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%); /* Opera11.10+ */
	background-image:-ms-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%); /* IE10+ */
	background-image:linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%); /* W3C */
	border:1px solid #aaa;
	border-top-color:#ccc;
	border-left-color:#ccc;
	border-radius:3px;

	-webkit-transition:background-color 0.15s ease-in-out 0s;
	-moz-transition:background-color 0.15s ease-in-out 0s;
	-o-transition:background-color 0.15s ease-in-out 0s;
	-ms-transition:background-color 0.15s ease-in-out 0s;
	transition:background-color 0.15s ease-in-out 0s;

	&:hover, &:focus{
		text-decoration:none;
		background-color:#fff;
	}

	&:active{
		text-decoration:none;
		background:#ddd;
	}

	/**
	 * Confirmation buttons
	 */
	&.confirm{
		color:#F2F2F2;
		text-shadow:0 1px #407C00;
		background-color:#55AA00;
		border-color:#4D9B00;
		border-top-color:#66CC00;
		border-left-color:#66CC00;

		&:hover, &:focus{
			background-color:#5EBC00;
		}

		&:active{
			background:#55AA00;
		}
	}

	&.cancel{
		color:#fff;
		text-shadow:0 1px #A0090C;
		background-color:#D11013;
		border-color:#AF0E10;
		border-top-color:#BC0F0F;
		border-left-color:#BC0F0F;

		&:hover, &:focus{
			background-color:#E51212;
		}

		&:active{
			background:#D11013;
		}
	}

	/**
	 * Disabled buttons
	 */
	&[disabled],
	&[disabled]:hover,
	&[disabled]:focus,
	&[disabled]:active{
		color:#888;
		text-decoration:none;
		text-shadow:0 1px rgba(255, 255, 255, 0.75);
		background:#ccc;
		border:1px solid #aaa;
		border-top-color:#ccc;
		border-left-color:#ccc;
		cursor:auto;
	}
}

/**
 * Range input field
 */
input[type=range]{
	margin-bottom:$default-vertical-spacing;
	width:100%;
}



/* ==========================================================================
 * Classes
 * ========================================================================== */

/**
 * Old browser notification
 */
#browserNotice,
#cookieNotice{
	z-index:10000;
}


/**
 * A simple class name for creating 'lead' paragraphs,
 * usually to be used for an article
 */
p.lead{
	margin-bottom:1.2em;
	font-size:1.4em;
	font-weight:200;
	line-height:1.4em;
}

/**
 * Clear fix for floated elements.
 * Assign this class to the parent of a floated element,
 * to make it encapsulated it properly.
 */
.clearfix:after{
	content:" ";
	display:table;
	clear:both;
}

/**
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden{
	display:none !important;
	visibility:hidden;
}

/**
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible{
    visibility:hidden;
}