@media print{
	*{
		color:#000 !important;
		text-shadow:none !important;
		background:transparent !important;
		box-shadow:none !important;
	}

	a{
		text-decoration:underline;
		word-wrap:break-word;

		&:visited{
			text-decoration:underline;
		}

		&[href]:after{
			content:" (" attr(href) ")";
		}

		&[href^="javascript:"]:after,
		&[href^="#"]:after{
			content:'';
		}
	}

	abbr[title]:after{
		content:" (" attr(title) ")";
	}

	pre,
	blockquote{
		border:1px solid #999;
		page-break-inside:avoid;
	}

	pre{
		code,
		samp{
			margin:0 !important;
			padding:0 !important;
			border:none !important;
		}
	}

	thead{
		display:table-header-group;
	}

	tr,
	img,
	ul,
	ol{
		page-break-inside:avoid;
	}

	img{
		max-width:100% !important;
	}

	p,
	h2,
	h3{
		orphans:3;
		widows:3;
	}

	h2,
	h3{
		page-break-after:avoid;
	}

	@page{
		margin:1cm 0.5cm;
	}



	/* ==========================================================================
	 * UI
	 * ========================================================================== */

	/**
	 * Navigation
	 */
	.nav{
		li{
			&.hasSub{
				> a,
				> span,
				> label,
				> div,
				> h1, > h2, > h3,
				> h4, > h5, > h6{
					padding-right:12px !important;

					&:after{
						display:none !important;
					}
				}
			}
		}
	}


	/**
	 * Breadcrumbs
	 */
	.breadcrumbs{
		a:after{
			content:'';
		}
	}


	/**
	 * Pagination
	 */
	.pagination{
		a:after{
			content:'';
		}
	}
}