/**
 * Not quite sure what this does - something to do with determining
 * the correct width on the device, in IE
 */
@-ms-viewport{
	width:device-width;
}

/* ==========================================================================
 * Device specific display of content
 * This allows us to show/hide certain elements depending on the device
 * ========================================================================== */
.visible-phone,
.visible-small{
	display:none !important;
}

.visible-tablet,
.visible-medium{
	display:none !important;
}

.hidden-desktop,
.hidden-large{
	display:none !important;
}

.visible-desktop,
.visible-large{
	display:inherit !important;
}

@media (min-width: 768px) and (max-width: 979px) {
	.hidden-desktop,
	.hidden-large{
		display:inherit !important;
	}
	.visible-desktop,
	.visible-large{
		display:none !important;
	}
	.visible-tablet,
	.visible-medium{
		display:inherit !important;
	}
	.hidden-tablet,
	.hidden-medium{
		display:none !important;
	}
}

@media (max-width: 767px) {
	.hidden-desktop,
	.hidden-large{
		display:inherit !important;
	}
	.visible-desktop,
	.visible-large{
		display:none !important;
	}
	.visible-phone,
	.visible-small{
		display:inherit !important;
	}
	.hidden-phone,
	.hidden-small{
		display:none !important;
	}
}

/* ==========================================================================
 * Grid layout
 * ========================================================================== */

/**
 * The main site container
 */
.container,
.ship{
	margin:0 auto;

	/**
	 * Allow the container to be constrained
	 * and only increase to a max size of 1140px;
	 */
	&.constrain{
		max-width:1440px;
	}

	/**
	 * Fixed size for adaptive layouts
	 */
	&.adapt{
		width:960px;

		.row, .deck{
			min-width:0;
		}
	}
}

/**
 * A row
 */
.row,
.deck{
	margin:0 auto;
	width:100%;
	min-width:755px;
	max-width:100%;

	/**
	 * Clear the floated elements inside
	 */
	&:after{
		content:" ";
		display:table;
		clear:both;
	}

	/**
	 * A row within a row
	 */
	.row, .deck{
		width:auto;
		min-width:0;
	}

	/**
	 * Columns
	 */
	.column, .plank{
		float:left;
		display:block;
		margin:0;
		padding:0 10px;
		min-height:1px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;

		/**
		 * Setting individual column widths
		 */
		@for $i from 1 through $grid-columns{
			&.#{nth($column-numbers, $i)}{
				width:100%/($grid-columns/$i);
			}
		}

		/**
		 * Column offsets
		 */
		@for $i from 1 through $grid-columns - 1 {
			&.offset-#{nth($column-numbers, $i)}{
				margin-left:100%/($grid-columns/$i);
			}
		}

		/**
		 * Allow columns to be collapsed (removes padding)
		 */
		&.collapse{
			padding:0;
		}

		&.collapse-left{
			padding-left:0;
		}

		&.collapse-right{
			padding-right:0;
		}

		/**
		 * Allow centering of a column
		 */
		&.center{
			float:none !important;
			margin:0 auto;
		}

		/**
		 * Float the last column right.
		 * This fixes rounding issues in browsers, where
		 * the last column doesn't line up with the right-hand-side
		 */
		&:last-child{
			float:right;
		}
	}

	/**
	 * Stop images, objects etc overflowing the content
	 */
	img, object, embed{
		max-width:100%;
	}

	img{
		height:auto;
	}
}

/**
 * Media queries for handling smaller screen sizes
 */
@media (min-width: 1200px) {
/**
 * Fixed size for adaptive layouts
 */
	.container.adapt,
	.ship.adapt{
		width:1170px;
	}
}

@media only screen and (max-width: 1023px) {
	body{
		font-size:0.8em;
		line-height:1.5em;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
/**
 * Fixed size for adaptive layouts
 */
	.container.adapt,
	.ship.adapt{
		width:724px;
	}
}

@media handheld, only screen and (max-width: 767px) {
	body{
		font-size:16px;
		-webkit-text-size-adjust:none;
		-ms-text-size-adjust:none;
	}

	body, .container, .ship, .row, .deck{
		width:100%;
		min-width:0;
		margin-left:0;
		margin-right:0;
		padding-left:0;
		padding-right:0;
	}

/**
 * Fixed size for adaptive layouts
 */
	.container.adapt,
	.ship.adapt{
		width:auto;
	}

	.row, .deck{
		.column, .plank{
			width:auto !important;
			float:none !important;
			margin-left:0 !important;
			margin-right:0 !important;
			padding-left:20px;
			padding-right:20px;


			&.collapse,
			.collapse-left,
			.collapse-right{
				padding-left:0;
				padding-right:0;
			}
		}
	}
}

/* ==========================================================================
 * Retina display media queries
 * ========================================================================== */

/* 1.25 dpr */
@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and (-moz-min-device-pixel-ratio: 1.25),
only screen and (min-device-pixel-ratio: 1.25),
only screen and (min-resolution: 120dpi) {
/* Retina-specific stuff here */
}

/* 1.3 dpr */
@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
only screen and (-moz-min-device-pixel-ratio: 1.3),
only screen and (min-device-pixel-ratio: 1.3),
only screen and (min-resolution: 124.8dpi) {
/* Retina-specific stuff here */
}

/* 1.5 dpr */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {
/* Retina-specific stuff here */
}

/* 2 dpr */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
/* Retina-specific stuff here */
}