body{
	font-family:$font-family;
	font-size:$font-size;
	line-height:$line-height;
	color:#333;
	background-color:#fff;
}



/* ==========================================================================
 * Forms
 * ========================================================================== */

input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=datetime],
input[type=number],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
textarea,
select{
	display:block;
	padding:6px;
	width:100%;
	color:#3c3c3c;
	background:#fff;
	border:1px solid #cccccc;
	border-radius:2px;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) inset;

	-webkit-transition:all 0.15s linear;
	-moz-transition:all 0.15s linear;
	-o-transition:all 0.15s linear;
	transition:all 0.15s linear;

	&:focus{
		background:#fafafa;
		border-color:#b3b3b3;
	}

	&:hover{
		background:#fafafa;
	}

	&[disabled]{
		color:#888;
		text-shadow:0 1px rgba(255, 255, 255, .75);
		background-color:#ddd;
	}

	&[readonly]{
		color:#707070;
	}
}

/*input::-webkit-input-placeholder,
input:hover::-webkit-input-placeholder,
input:focus::-webkit-input-placeholder{
   color:#a9a9a9;
}
input:-moz-placeholder,
input:hover:-moz-placeholder,
input:focus:-moz-placeholder{
   color:#a9a9a9;
}
input:-ms-input-placeholder,
input:hover:-ms-input-placeholder,
input:focus:-ms-input-placeholder{
   color:#a9a9a9;
}*/

input[type=submit],
input[type=reset],
input[type=button],
button,
.button{
	display:inline-block;
	padding:7px 10px;
	color:#444;
	font-size:0.85em;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0 1px rgba(255, 255, 255, .75);
	line-height:normal;
	background:#eee;
	background-image:-moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
	background-image:-webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
	background-image:-o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
	background-image:-ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
	background-image:linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
	border:1px solid #aaa;
	border-top-color:#ccc;
	border-left-color:#ccc;
	border-radius:3px;

	-webkit-transition:background-color 0.15s ease-in-out 0s;
	-moz-transition:background-color 0.15s ease-in-out 0s;
	-o-transition:background-color 0.15s ease-in-out 0s;
	transition:background-color 0.15s ease-in-out 0s;

	&:hover, &:focus{
		text-decoration:none;
		background-color:#fff;
	}

	&:active{
		text-decoration:none;
		background:#ddd;
	}

	&[disabled]{
		color:#888;
		text-decoration:none;
		background:#ccc;
	}
}



/* ==========================================================================
 * Classes
 * ========================================================================== */

/**
 * Old browser notification
 */
#browserNotice{
	position:fixed;
	top:0;
	left:0;
	padding:10px 0;
	width:100%;
	color:#fff;
	font-size:1.2em;
	background:#2B4141;
	border-bottom:2px solid #3D3939;

	p{
		margin:0;
	}

	.button{
		margin-top:15px;
	}
}


/**
 * A simple class name for creating 'lead' paragraphs,
 * usually to be used for an article
 */
p.lead{
	margin-bottom:1.2em;
	font-size:1.4em;
	font-weight:200;
	line-height:1.4em;
}

/**
 * Clear fix for floated elements.
 * Assign this class to the parent of a floated element,
 * to make it encapsulated it properly.
 */
.clearfix:after{
	content:" ";
	display:table;
	clear:both;
}

/**
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden{
	display:none !important;
	visibility:hidden;
}

/**
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible{
    visibility:hidden;
}