/*!
 * Author: GreenImp Web
 * Date Created: 24/01/13 23:05
 */

$grid-columns: 12;
$row-names: row, deck;
$column-names: column, plank;
$column-numbers: one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve;

$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 14px;
$line-height:20px;


@import "_reset";
@import "_responsive";
@import "_print";

@import "_base";