/* ==========================================================================
 * Forms
 * ========================================================================== */

/**
 * Valid fields
 */
.valid input,
.valid textarea,
.valid select,
input.valid,
textarea.valid,
select.valid{
	background-color:#E7F9E3;
	border-color:#4ABF4C;

	&:focus, &:hover{
		background-color:#E7F9E3;
		border-color:#4ABF4C;
	}
}

.valid label,
label.valid{
	color:#4ABF4C;
}


/**
 * Fields containing errors
 */
.error input,
.error textarea,
.error select,
input.error,
textarea.error,
select.error,
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid{
	background-color:#FCE5E5;
	border-color:#DD1115;

	&:focus, &:hover{
		background-color:#FCE5E5;
		border-color:#DD1115;
	}
}

.error label,
label.error{
	color:#DD1115;
}

/**
 * Adds an asterisk on labels for required fields
 */
label.required:after{
	content:'*';
	position:relative;
	left:0.25em;
	margin-right:0.25em;
}

/**
 * allows labels to be right-aligned
 */
label.right{
	text-align:right;
}