input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=datetime],
input[type=number],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
textarea,
select{
	&.error{
		color:#DD3737;
		font-weight:bold;
		background-color:#FCE5E5;
		border-color:#DD3737;
	}

	&.valid{
		color:#4ABF4C;
		font-weight:bold;
		background:#E5FFE5;
		border-color:#4ABF4C;
	}
}