/**
 * Author: GreenImp
 * Based on the theme designed by Kieron Marr - kieronmarr.co.uk (Thanks!)
 * Date Created: 02/05/2013 13:41
 */

$font-OpenSans:'Open Sans', Helvetica, Arial, sans-serif;
$font-Arial:Arial, sans-serif;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

/* ==========================================================================
 * Base
 * ========================================================================== */

body{
	color:#434343;
	font-family:$font-Arial;
	line-height:28px;
}

h1, h2, h3,
h4, h5, h6{
	color:#3f8961;
	font-family:$font-OpenSans;
	font-weight:300;
}

a{
	color:#3f8961;
}



/* ==========================================================================
 * Forms
 * ========================================================================== */

fieldset{
	border-radius:0;

	legend{
		font-size:1.1em;
		font-family:$font-OpenSans;
		font-weight:normal;
	}
}

label{
	font-size:1em;
	font-family:$font-Arial;
	font-weight:normal;
}


/**
 * General form fields
 */
input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=datetime],
input[type=number],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
textarea,
select{
	color:#434343;
	font-family:$font-Arial;
	border:1px solid #e4e4e4;
	border-radius:0;
	box-shadow:none;
	background:#fff;

	&:focus{
		background:#fff;
		border-color:#3cb878;
		box-shadow:0 0 2px #3cb878;
	}

	&:hover{
		background:#fff;
		border-color:#3cb878;
	}

	&.error{
		color:#b83c3c;
		background:#fff;
		border-color:#b83c3c;

		&:focus,
		&:hover{
			background:#fff;
			border-color:#b83c3c;
		}

		&:focus{
			box-shadow:0 0 2px #b83c3c;
		}
	}

	&.valid{
		color:#4ABF4C;
		background-color:#fff;
		border-color:#3cb878;

		&:focus,
		&:hover{
			background:#fff;
		}
	}

	&[disabled]{
		color:#888;
		text-shadow:0 1px rgba(255, 255, 255, 0.75);
		background-color:#e4e4e4;
		border-color:#e4e4e4;
		box-shadow:none;
		cursor:auto;

		&:focus,
		&:hover{
			background-color:#e4e4e4;
			border-color:#e4e4e4;
		}
	}

	&[readonly]{
		color:#989898;
		border-color:#e4e4e4;
		box-shadow:none;
	}
}

/**
 * Form buttons
 */
input[type=submit],
input[type=reset],
input[type=button],
button,
.button{
	border-radius:0;
}



/* ==========================================================================
 * Lists
 * ========================================================================== */

ul, ol{}



/* ==========================================================================
 * Tables
 * ========================================================================== */

table{}



/* ==========================================================================
 * Quotes
 * ========================================================================== */

blockquote{
	margin-left:0;
	margin-right:0;
	padding:20px;
	color:#434343;
	font-family:$font-Arial;
	font-size:1em;
	background:#e4e4e4;
	border-left:5px solid #3cb878;

	/**
	 * Remove quotation marks around the quote
	 */
	&:before,
	&:after{
		content:'';
		position:static;
		display:none;
		content:'';
		left:auto;
		top:auto;
		bottom:auto;
	}


	/**
	 * Changes background of inner quotes, so more visible
	 */
	q{
		background:darken(#e4e4e4, 10%);
	}

	cite{
		line-height:1em;
	}

	&.light{
		background:#3cb878;
		border-color:#434343;

		q{
			background:darken(#3cb878, 10%);
		}
	}

	&.dark{
		color:#3dab72;
		background:#434343;
		border-color:#3cb878;

		q{
			background:darken(#434343, 10%);
		}
	}
}

q{
	background:#e4e4e4;
}



/* ==========================================================================
 * Classes
 * ========================================================================== */

p.lead{
	color:#3dab72;
	font-size:1em;
	line-height:inherit;
}



/* ==========================================================================
 * Notice boxes
 * ========================================================================== */

.notice{}



/* ==========================================================================
 * Accordion
 * ========================================================================== */

.accordion{}



/* ==========================================================================
 * Tabs
 * ========================================================================== */

.tabs{
	> .tab,
	> ul > li.tab{
		> a{
			margin:0 1px 0 0;
			padding:6px 20px;
			color:#fff;
			background:#3cb878;
			border:none;
			border-radius:0;

			&:hover{
				background:#d4d4d4;
			}

			&.active{
				color:#434343;
				background:#E4E4E4;
			}
		}

		&:first-child > a{
			margin-left:0;
		}

		&:last-of-type > a{
			margin-right:0;
		}
	}

	> .pane{
		background:#e4e4e4;
		border:1px solid #d4d4d4;
	}
}



/* ==========================================================================
 * Modal
 * ========================================================================== */

#fancybox-outer{
	background:none;
	border-radius:0;
}

#fancybox-content{
	background:#fff;
	border-color:transparent;
	border-radius:0;
}

#fancybox-title.fancybox-title-float{
	#fancybox-title-float{
		padding:0 15px;
		font-family:$font-OpenSans;
		font-weight:normal;
		background:#434343;
		border:none;
		border-radius:0;
	}
}

#fancybox-close{
	color:#fff;
	background:#434343;

	&:before{
		content:'X';
		display:block;
		font-family:$font-OpenSans;
		font-size:1.25em;
		font-weight:300;
		text-align:center;
	}

	&:hover{
		text-decoration:none;
		opacity:0.9;
	}
}

#fancybox-left-ico,
#fancybox-right-ico{}



/* ==========================================================================
 * Alert
 * ========================================================================== */

.alertBox{
}



/* ==========================================================================
 * Breadcrumbs
 * ========================================================================== */

.breadcrumbs{}



/* ==========================================================================
 * Pagination
 * ========================================================================== */

.pagination{
	font-size:1em;

	a, span{
		padding:5px 16px;
	}

	&.block{
		color:#434343;

		a, span{
			color:#434343;
			border:1px solid #d4d4d4;

			&.current{
				color:#fff;
				font-weight:normal;
				background:#3cb878;
				border-color:#2ca96e;
			}
		}

		&.light{
			a, span{
				color:#fff;
				background:#3cb878;
				border-color:#2ca96e;

				&.current{
					color:#3cb878;
					background:#434343;
					border-color:#434343;
				}
			}
		}
	}
}



/* ==========================================================================
 * Panel
 * ========================================================================== */

.panel{
	color:#3dab72;
	background:#e4e4e4;
	border:1px solid #d4d4d4;
	border-radius:0;
	box-shadow:none;

	h1, h2, h3,
	h4, h5, hd4d4d46{
		color:#434343;
	}

	&.feature{
		color:#fff;
		font-weight:normal;
		background:#3cb878;
		border:none;
	}

	&.dark{
		background:#434343;
		border:none;

		h1, h2, h3,
		h4, h5, hd4d4d46{
			color:#fff;
		}
	}
}



/* ==========================================================================
 * Slider
 * ========================================================================== */

.bx-wrapper{
	> .bx-viewport{
		border:none;
		border-radius:0;
		box-shadow:none;
	}

	.bx-caption,
	.caption{
		padding-top:11px;
		padding-bottom:11px;
		font-size:1.15em;
		font-family:$font-OpenSans;
		font-weight:300;
		text-align:left;
		background:#434343;
		background:rgba(67,67,67,0.65);
	}

	/**
	 * Set colours for the page pips
	 */
	.bx-pager{
		&.bx-default-pager{
			a{
				background:#434343;

				&:hover{
					opacity:0.8;
					background:#434343;
				}

				&.active{
					background:#3cb878;
				}
			}
		}
	}

	/**
	 * Style the next/prev buttons
	 */
	.bx-controls-direction{
		> a{
			top:0;
			margin:0;
			width:60px;
			height:100%;
			background:#434343;
			background:rgba(67,67,67,0.4);
			opacity:0;
			-webkit-transition:all 0.15s linear;
			-moz-transition:all 0.15s linear;
			-o-transition:all 0.15s linear;
			transition:all 0.15s linear;

			&:hover{
				background:rgba(67,67,67,0.8);
			}

			&:after{
				position:absolute;
				top:50%;
				display:block;
				width:100%;
				margin-top:-0.5em;
				color:#bbb;
				font-size:2em;
				font-family:$font-OpenSans;
				font-weight:bold;
				text-align:center;
				text-indent:0;
				line-height:1em;
				text-shadow:1px 1px 0 #333;
			}

			&.bx-prev{
				left:0;

				&:after{
					content:'\003C';
				}
			}

			&.bx-next{
				right:0;

				&:after{
					content:'\003E';
				}
			}
		}
	}

	&:hover{
		.bx-controls-direction{
			> a{
				opacity:1;
			}
		}
	}
}

@media handheld, only screen and (max-width: 767px) {
	.bx-wrapper{
		.bx-controls-direction{
			> a{
				width:30px;
			}
		}
	}
}



/* ==========================================================================
 * Navigation
 * ========================================================================== */

.nav{
	font-size:1.15em;
	font-family:$font-OpenSans;
	font-weight:300;
	background:#434343;

	a{
		&:hover{
			color:#3dab72;
			background:transparent;
		}
	}

	> ul,
	> .inner > ul{
		> li > a{
			&:hover:after{
				content:'';
				position:absolute;
				bottom:0;
				left:12px;
				right:12px;
				border-bottom:1px solid #3dab72;
			}
		}
	}

	ul,
	.inner ul{
		> li{
			&:before{
				display:none;
			}

			/*
			 * li with sub menu
			 */
			&.hasSub{
				> a,
				> span,
				> label,
				> div,
				> h1, > h2, > h3,
				> h4, > h5, > h6{
					&:after{
						top:25px;
					}

					&:hover{
						&:after{
							left:auto;
							bottom:auto;
							border-top-color:#3dab72;
							border-bottom:none;
						}
					}
				}
			}

			ul{
				background:#434343;

				li{
					/*
					 * sub li with sub menu
					 */
					&.hasSub{
						a,
						span,
						label,
						div,
						h1, h2, h3,
						h4, h5, h6{
							&:after{
								top:12px;
							}

							&:hover{
								&:after{
									border-left-color:#3dab72;
									border-top-color:transparent;
									border-bottom:5px solid transparent;
								}
							}
						}
					}
				}
			}
		}

		/**
		 * Right-aligned nav elements
		 */
		&.right{
			/**
			 * Show sub-menu, on hover of it's parent
			 */
			> li{
				/**
				 * position third level (and greater) navigation to the right
				 */
				ul > li{
					/*
					 * sub li with sub menu
					 */
					&.hasSub{
						> a,
						> span,
						> label,
						> div,
						> h1, > h2, > h3,
						> h4, > h5, > h6{
							&:hover{
								&:after{
									border-right-color:#3dab72;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media handheld, only screen and (max-width: 767px) {
	.nav{
		&.dynamic{
			> .inner{
				ul,
				ul.right,
				ul.right ul{
					> li{
						.backBtn{
							&:hover{
								color:#3cb878
							}
						}

						/*
						 * sub li with sub menu
						 */
						&.hasSub{
							> a,
							> span,
							> label,
							> div,
							> h1, > h2, > h3,
							> h4, > h5, > h6{
								&:after{
									left:auto;
									right:12px;
									top:22px;
									border:none;
									border-left:5px solid #fff;
									border-right:none;
									border-top:5px solid transparent;
									border-bottom:5px solid transparent;
								}

								&:hover{
									&:after{
										border-left-color:#3cb878;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}