/**
 * Copyright GreenImp Web - greenimp.co.uk
 * 
 * Author: GreenImp Web
 * Date Created: 23/04/13 23:28
 */

.presentation .column{
	background:#ccc;
	border:1px solid#999;
}

pre code{
	max-height:200px;
}